* {
    box-sizing: border-box;
    background-color: steelblue;
    text-align: center;
    margin: 2px auto;
}

div {
    display: flex;
    text-align: center;
    align-items: center;
}

#tablaFacil {
    display: none;
    color: white;
}


#tablaMedio {
    display: none;
    color: white;
}

#tablaDificil {
    display: none;
    color: white;
}

img {
    cursor: pointer;
}

#tablaMedio img {
    height: 60%;
    width: 60%;
}